{% extends 'base.html' %}

{% block title %}

Post on form

{% endblock %}






{% block body %}

<div class="container mt-5">
    <h2 class="text-center">Test send POST</h2>
    <form method="post">
        <input type="int" name="id" id="id" class="form-control" placeholder="id"><br>
        <textarea name="pathPhotoOnServ" id="pathPhotoOnServ" class="form-control" placeholder="pathPhotoOnServ"></textarea><br>
        <textarea name="textAboutMember" id="textAboutMember" class="form-control" placeholder="textAboutMember"></textarea><br>
        <input type="submit" class="btn btn-success" value="send post">
    </form>
</div><!--js-->


{% endblock %}